
.bookHeadWrapper{
    display:flex;
}

.titleAuthors{
    margin-left:1em;
    position: relative;
    margin-bottom: 1em;
}

    .titleAuthors p {
        margin: 0px;
        padding: 0px;
    }
.titleAuthors button{
    background-color:transparent;
    outline:none;
    border:none;
}