a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.pageLogo {
    border: groove 3px gold;
    box-shadow: 2px 3px #f7b731;
}

.text-dark {
    color: #4b6584 !important;
    font-size:1em;
    font-weight:500;
}

.container{
    padding-top:0.5em;
}
